// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$blue: #3c4251;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8359c5;
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;

//font sizes
$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 6.4rem;
$desktop-breakpoint: 45rem;

@media (max-width: $desktop-breakpoint) {
  $s-size: 1.2rem;
  $m-size: 1.6rem;
  $l-size: 3.2rem;
  $xl-size: 4.8rem;
  $xxl-size: 6.4rem;
}
